body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://th.bing.com/th/id/R.adb26e8991d1bee469463ba21371d071?rik=IhWjhEKBgF7Blw&riu=http%3a%2f%2f2.bp.blogspot.com%2f-sm0o6dv4nmQ%2fTlPxt_mZq6I%2fAAAAAAAAkYY%2fSxGWzGCNygA%2fs1600%2fsuperb-nature-corner-1920x1200.jpg&ehk=oxDooEgrc3MZHXGOGow5ISV%2fdpJSu0%2fxFQC4Orp2lKQ%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333333;
}
img {
    width: 100%;
    object-fit: contain;
}
h2 {
    text-align: center;
}

.modal {
    background-color: #0000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s;
}
.modal-background {
    background-color: #0009;
}
.modal-content {
    border: 2px solid red;
    max-width: 90%;
    transform: scale(0);
    transition: transform .6s;
}
.modal-content-on {
    transform: scale(1);
}

.contact-image {
    width: 150px;
    border-radius: 50%;
    margin: 50px auto 20px;
    display: block;
}

.contact-name {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.contact-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto 50px;
}

.contact-info div {
    margin-bottom: 15px;
}
.contact-info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    min-width: 40%;
}

.contact-info {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}
.contact-info img {
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.gallery {
    border: 2px solid red;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 90%;
    min-width: 40%;
    overflow: hidden;
    max-width: 500px;
    max-height: 400px;
}
.gallery_container {
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding: 4px;
}
.gallery_container > img{
    object-fit: cover;
}
.last-img {
    grid-column: 1 / 3;
    border: 2x solid grey;
}

#map {
    text-align: center;
}

.contact-developer {
    background-color: rgba(255, 255, 255, 0.8);
    height: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}